@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-optical-sizing: auto;
}