.st0,
.st1,
.st2,
.st3 {
    fill: none;
}

.st4 {
    fill: #e78e72;
}

.st5 {
    fill: #606161;
    mix-blend-mode: multiply;
    opacity: .2;
}

.st6 {
    fill: #bdae82;
}

.st7 {
    fill: #313540;
}

.st8 {
    fill: #e9e5c7;
}

.st9 {
    fill: #e3d5e9;
}

.st10 {
    fill: #dacae3;
}

.st11,
.st12 {
    fill: #faf9fc;
}

.st13 {
    fill: #84867e;
}

.st14 {
    fill: #c2add4;
}

.st15 {
    fill: #695623;
}

.st16 {
    fill: #595a5a;
}

.st12 {
    mix-blend-mode: screen;
}

.st17 {
    fill: #2d5f85;
}

.st18,
.st19 {
    fill: #010101;
}

.st20 {
    fill: #e1d2e8;
}

.st21 {
    fill: #e4d9b0;
}

.st22 {
    fill: #8cc4c3;
}

.st23 {
    fill: #c6b1d6;
}

.st24 {
    fill: #682672;
}

.st25 {
    fill: #dfccba;
}

.st26 {
    fill: #f9e778;
}

.st27 {
    fill: #3a3b3a;
}

.st28 {
    fill: #ac73b1;
}

.st1 {
    stroke: #796aa5;
    stroke-miterlimit: 10;
}

.st29 {
    fill: #5b5b5b;
}

.st30 {
    fill: #0e1610;
}

.st31 {
    fill: #796aa5;
}

.st32 {
    fill: #766ba0;
}

.st33,
.st34 {
    fill: #8cc1e9;
}

.st35 {
    fill: #100f0e;
}

.st34 {
    opacity: .5;
}

.st36 {
    fill: #ad1e22;
}

.st37 {
    fill: #ddcee5;
}

.st38 {
    fill: #e78f73;
}

.st39 {
    fill: #acc66e;
}

.st40 {
    fill: #555554;
}

.st41,
.st42 {
    fill: #e3d8eb;
}

.st43 {
    fill: #545459;
}

.st44 {
    isolation: isolate;
}

.st2,
.st3 {
    stroke: #313540;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st45 {
    fill: #4e4e4e;
}

.st46 {
    fill: #313033;
}

.st47 {
    fill: #fcf4d1;
}

.st48 {
    fill: #efe5f1;
}

.st49 {
    clip-path: url(#clippath-1);
}

.st50 {
    clip-path: url(#clippath-3);
}

.st51 {
    clip-path: url(#clippath-4);
}

.st52 {
    clip-path: url(#clippath-2);
}

.st53 {
    clip-path: url(#clippath-7);
}

.st54 {
    clip-path: url(#clippath-6);
}

.st55 {
    clip-path: url(#clippath-5);
}

.st56 {
    fill: #dccde5;
}

.st57 {
    fill: #828481;
}

.st58 {
    fill: #8aa767;
}

.st59 {
    fill: #505050;
}

.st60 {
    fill: #28356a;
}

.st61 {
    fill: #e7daec;
}

.st62 {
    fill: #fff;
}

.st63 {
    fill: #3b2365;
}

.st64 {
    fill: #4c65af;
}

.st65 {
    fill: #141416;
}

.st66 {
    fill: #752b15;
}

.st67 {
    fill: #df2e2f;
}

.st42 {
    font-family: HiraKakuStd-W8-83pv-RKSJ-H, 'Hiragino Kaku Gothic Std';
    font-size: 46px;
}

.st68 {
    fill: #d7c6e1;
}

.st69 {
    fill: #bfa9d2;
}

.st70 {
    fill: #214ba0;
}

.st71 {
    fill: #cfc598;
}

.st19,
.st72,
.st73 {
    opacity: .3;
}

.st74 {
    fill: #131110;
}

.st75 {
    fill: #85a294;
}

.st76 {
    fill: #848484;
}

.st77 {
    fill: #929497;
}

.st78 {
    fill: #4a4a4a;
}

.st79 {
    fill: #747474;
}

.st80 {
    fill: #8a7ab9;
}

.st81 {
    fill: #554e58;
}

.st82 {
    fill: #cabddd;
}

.st83 {
    fill: #838383;
}

.st84 {
    fill: #83a1d4;
}

.st85 {
    mix-blend-mode: luminosity;
}

.st86 {
    fill: #1c284a;
}

.st87 {
    fill: #989898;
}

.st3 {
    stroke-width: 2px;
}

.st88 {
    fill: #767675;
}

.st89 {
    fill: #c8b4d7;
}

.st90 {
    fill: #e6d9eb;
}

.st73,
.st91 {
    fill: #4dc1b7;
}

.st91,
.st92 {
    opacity: .2;
}

.st93 {
    fill: #bfbebe;
}

.st94 {
    fill: #40403f;
}

.st95 {
    fill: #dc3132;
}

.st96 {
    fill: #d2c1de;
}

.st97 {
    fill: #2f3c36;
}

.st98 {
    fill: #f0f0a4;
}

.st99 {
    fill: #4b4b4b;
}

.st100 {
    fill: #53a075;
}

.st101 {
    fill: #333;
}

.st102 {
    fill: #d7c7e1;
}

.st103 {
    fill: #d9c9e3;
}

.st104 {
    fill: #f1e5b8;
}

.st105 {
    fill: #e69276;
}

.st106 {
    fill: #1a1a1a;
}

.st107 {
    clip-path: url(#clippath);
}

.st108 {
    fill: #65a8dc;
}

.st109 {
    fill: #ede2f0;
}

.st110 {
    fill: #12100f;
}

.st111 {
    fill: #e7f0fa;
}

.st112 {
    fill: #11212b;
}

.st113 {
    fill: #bbbebf;
}

.st92 {
    fill: #13a79e;
}